<div class="row">
    <div class="card">
        <div class="card-header">
            <h4>Contas bancárias <small>{{ sub_title }}</small></h4>
        </div>
        <div class="card-body">
            <div class="card-title">
                    <h5>Dados da conta</h5>
            </div>
            <form class="row" autocomplete="off">
               
                <div class="input-field col s6">
                    <input type="text" id="title" class="validate" placeholder="Como você prefere identificar esta conta?" required>
                    <label for="title" class="active">Título da conta</label>
                </div>
                <div class="input-field col s6">
                    <input type="text" id="balance_initial" class="validate" placeholder="Qual o valor inicial desta conta?" required>
                    <label for="title" class="active">Valor inicial</label>
                </div>
                <div class="input-field col s6">
                        <select v-model="account.bank_id">
                            <option value="0">Escolha um banco</option>
                            <option v-for="bank in banks.data" :value="bank.id" class="left circle">{{ bank.title }} ({{bank.code}})</option>
                        </select>
                    <!--<ul>
                        <li v-for="bank in banks.data">{{ bank.title }}</li>
                    </ul>-->

                    <label>Qual seu banco?</label>
                   
                </div>
                <div class="input-field col s6">
                    <label for="agency" class="active">Número da agência</label>
                    <input type="number" id="agency" class="validate" placeholder="Qual o número da sua agencia?" required>
                </div>
                <div class="input-field col s6">
                    <input type="number" id="account_number" class="validate" placeholder="Qual o número da sua conta?" required>
                    <label for="accont_number" class="active">Número da conta</label>
                </div>
                <div class="input-field col s6">
                    <input type="submit"class="waves-effect waves-light btn-large blue-grey darken-4" value="salvar">
                </div>
            </form>
        </div>
        <div class="card-action">
            <a href="#/contas">Voltar</a>
        </div>
    </div>
</div>

